@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Space Grotesk Local";
  src: url("/assets/scss/css/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
html body {
  background-color: #fff;
  color: #000;
  font-family: "Space Grotesk Local", "Space Grotesk", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100vh;
}
html body ul, html body li {
  list-style-type: none;
}
html body a {
  text-decoration: none;
  color: #000;
}

nav.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}
nav.navbar.scrolled {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
nav.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05em;
  font-weight: 600;
  padding: 2em 1em;
}
nav.navbar .container a.logo-container {
  display: flex;
  align-items: center;
  gap: 0.8em;
}
nav.navbar .container a.logo-container img {
  width: 45px;
  height: auto;
}
nav.navbar .container ul {
  display: flex;
  align-items: center;
  gap: 1.8em;
}
nav.navbar .container a.button-style {
  background-color: #000;
  color: #fff;
}
nav.navbar .container a.button-style:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 1024px) {
  nav.navbar .container {
    padding: 1em;
  }
  nav.navbar .container ul {
    display: none;
  }
  nav.navbar .container span {
    max-width: 50%;
  }
}
.button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1em;
  border: 1px solid #000;
  border-radius: 0px;
  transition: all 0.2s;
}

.icon-style {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
  padding: 1em;
  font-size: 1em;
  border: 1px solid #000;
  border-radius: 0px;
  transition: all 0.2s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

section.hero {
  margin-top: 4em;
}
section.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
section.hero .container .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5em;
  position: relative;
  z-index: 9;
  margin-right: -30px;
  width: 55%;
}
section.hero .container .hero-text .hero-header h1 {
  font-size: 2.5em;
  font-weight: 400;
}
section.hero .container .hero-text .hero-header h1 span {
  font-weight: 700;
}
section.hero .container .hero-text .hero-btn-container {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 3em;
}
section.hero .container .hero-text .hero-btn-container a:hover {
  background-color: #000;
  color: #fff;
}
section.hero .container img.desktop-hero-img {
  position: relative;
  z-index: 1;
  width: 50%;
  height: auto;
}
section.hero .container img.mobile-hero-img {
  display: none;
}

@media (max-width: 1024px) {
  section.hero {
    margin-top: 2em;
  }
  section.hero .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  section.hero .container .hero-text {
    position: static;
    margin-right: 0;
    margin-top: 1.5em;
    width: 100%;
  }
  section.hero .container .hero-text .hero-header h1 {
    font-size: 2em;
  }
  section.hero .container .hero-text .hero-btn-container {
    margin-top: 0em;
  }
  section.hero .container img.desktop-hero-img {
    display: none;
  }
  section.hero .container img.mobile-hero-img {
    display: block;
    width: 100%;
    height: 85%;
  }
}

/*# sourceMappingURL=main.css.map */
