@use '../abstracts/colors' as col;

section.about{
    padding: 3em 1em;
    overflow: hidden;

    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
        //gap: 2em;

        img{
            width: 80%;
            height: auto;
        }

        .about-text{
            display: flex;
            flex-direction: column;
            gap: 1em;

            P{
                span{
                    display: block;
                    margin-bottom: 0.5em;
                }

                a{
                    text-decoration: underline;
                }
            }

        }
    }   
}

@media (max-width:1024px){
    section.about{
        
        .container{
            padding-left: 0em;
            padding-right: 0em;
            display: flex;
            flex-direction: column;
            gap: 2em;

            h1{
                margin-bottom: 0.5em;
                text-align: center;
            }

            img{
                width: 100%;
            }
            
        }
    }
}