@use '../abstracts/colors' as col;

section.contact{
    
    .container{
        padding: 3em 1em;

        h1{
            text-align: center;
        }

        .contact-container{
            margin-top: 3em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2em;

            form{
                display: flex;
                flex-direction: column;
                width: 40%;
                gap: 1em;

                textarea{
                    width: 100%;
                    max-width: 100%;
                    height: 100px;
                    min-height: 100px;
                    max-height: 100px;
                    font-size: 1em;
                }

                textarea::placeholder{
                    font-size: 1em;
                }

                .button-container {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    gap: 1em;
                  
                    .button-style {
                      position: relative;
                      padding: 0.8em 1em;
                      font-weight: 500;
                      border: 1px solid col.$black;
                      background-color: col.$black;
                      color: col.$white;
                      cursor: pointer;
                      overflow: hidden;
                      isolation: isolate;
                      transition: color 0.3s ease;
                  
                      .bg {
                        content: "";
                        position: absolute;
                        inset: 0;
                        background-color: col.$white;
                        transform: scaleY(0);
                        transform-origin: bottom;
                        transition: transform 0.4s ease;
                        z-index: 1;
                      }
                  
                      .text {
                        position: relative;
                        z-index: 2;
                        color: inherit;
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                      }
                  
                      &:hover {
                        color: col.$black;
                  
                        .bg {
                          transform: scaleY(1);
                          transform-origin: top;
                        }
                      }
                    }
                  
                    i {
                      font-size: 1.2em;
                    }
                  }
                       

            }

            .contact-text{
                display: flex;
                flex-direction: column;
                gap: 1em;
                align-items: flex-start;
                width: 50%;

                h1{
                    text-align: left;
                    font-weight: 400;

                    span{
                        font-weight: 600;
                    }
                }

                a{
                    color: col.$black;
        
                    &::after{
                        background-color: col.$black;
                    }
                }
            }
        }
    }
}


@media (max-width:1024px){
    section.contact{
    
        .container{
    
            .contact-container{
                flex-direction: column;
                gap: 3em;
    
                form{
                    width: 100%;

                    .button-container{
    
                        button{
                            padding: 0.8em 1em;
                        }
                    }
    
                }
    
                .contact-text{
                    gap: 1em;
                    width: 100%;
                }
            }
        }
    }
    
}