@use '../abstracts/colors' as col;

footer{
    background-color: col.$black;
    color: col.$white;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 1em;
        font-size: 0.85em;

        a{
            color: col.$white;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}


@media(max-width:1024px){
    footer{
        .container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
        }
    }
}