//abstracts - colors
@use '../abstracts/colors' as col;

//abstracts - border-radius
@use '../abstracts/border-radius' as radius;

nav.navbar{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.05em;
        font-weight: 600;
        padding: 2em 1em;

        a.logo-container{
            display: flex;
            align-items: center;
            gap: 0.8em;

            img{
                width: 45px;
                height: auto;
            }
        }

        ul{
            display: flex;
            align-items: center;
            gap: 1.8em;
        }

        a.button-style{
            background-color: col.$black;
            color: col.$white;

            &:hover{
                background-color: col.$white;
                color: col.$black;
            }
        }
    }
}

@media (max-width: 1024px){
    nav.navbar{

        .container{
            padding: 1em;

            ul{
                display: none;
            }

            span{
                max-width: 50%;
            }
        }
    }
}