@use '../abstracts/colors' as col;

section.projects{
    background-color: col.$black;
    color: col.$white;
    overflow: hidden;

    .container{
        padding: 3em 1em;
        overflow: hidden;

        h1{
            text-align: center;
        }

        .project-container{
            margin-top: 4em;
            display: flex;
            flex-direction: column;
            gap: 2em;

            .slide{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 3em;
                cursor: pointer;
                padding: 2em;
                transition: all 0.2s ease-out;
                border: 1px solid col.$light-gray;

                    &:hover{
                        background-color: col.$dark-gray;
                    }

                    img{ //for the images on the left
                        width: 100%;
                        /* height: auto; */
                        height: 100%;
                        align-self: end;
                        border: 1px solid col.$light-gray;
                    }

                    .mobile{
                        display: none;
                    }

                    a.link{
                        color: col.$white;
                        text-decoration: underline;
                    }

                .preview{  //for the alternate images
                    display: flex;
                    justify-content: right;
                    align-items: baseline;

                    a{
                        height: 100%;
                                            
                    img{
                        width: 100%;
                        /* height: auto; */
                        height: 100%; //to fill the slide
                        border: 1px solid col.$light-gray;
                    }
                    } 
                }

                .slide-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 1em;

                    h1{
                        text-align: left;
                    }
                    p{
                        color: col.$gray;
                    }

                    .info{
                        display: flex;
                        gap: 1.5em;

                        .links{
                            display: flex;
                            align-items: center;
                            gap: 1.5em;

                            a{
                                display: flex;
                                gap: 0.5em;
                                color: col.$white;
                                font-size: 1.05em;
                                font-weight: 500;
                                transition: all 0.2s;

                                i{
                                    color: col.$white;
                                    font-size: 1.5em;
                                }
                            }
                        }
                            
                        .stack{
                            display: flex;
                            align-items: center;
                            gap: 0.5em;
                                
                            i{
                                border: 1px solid col.$light-gray;
                                padding: 0.5em;
                                font-size: 1.5em;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media(max-width:1024px){
    section.projects{
    
        .container{
            padding: 3em 1em;
        
            .project-container{
                margin-top: 3em;
                gap: 1em;
    
                .slide{
                    grid-template-columns: repeat(1, 1fr);
                    gap: 1em;
                    padding: 1em;

                    &:hover{
                        background-color: col.$black;
                    }

                    img{
                        height: auto;//to not mess up images siz on mobile
                    }

                    .mobile{
                        display: block;
                        height: auto; //to not mess up images siz on mobile
                    }
    
                    .preview{
                        display: none;
                    }
    
                    .slide-text{
                        display: flex;
                        flex-direction: column;
                        gap: 1em;   

                        .info{
                            flex-direction: column;

                            .links{
                                gap: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
    
}