@use '../abstracts/colors' as col;

section.testimonial{

    .container{
        padding: 3em 1em;

        h1{
            text-align: center;
        }

        .testimonial-container{
            margin-top: 3em;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2em;

            .client-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;
                border: 1px solid col.$black;
                padding: 2em;
                cursor: pointer;
                transition: all 0.2s ;

                &:hover{
                    background-color: col.$black;
                    color: col.$white;

                    a{
                        position: relative;          // establish containing block for pseudo
                        color: col.$white;              // keep your existing text color
                      
                        &::after {
                          content: "";
                          position: absolute;
                          left: 50%;
                          bottom: 0;
                          width: 0;
                          height: 2px;
                          background-color: col.$white;
                          transition: width 0.3s ease, left 0.3s ease;
                        }
                      
                        &:hover::after {
                          width: 100%;
                          left: 0;
                        }
                        
                    }
                }

                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 1px solid col.$black;
                }

                a{
                    text-align: center;
                }
                
                span{
                    margin-top: -0.5em;
                    display: block;
                    font-weight: normal;
                    font-size: 0.9em;
                }
            }
    
        }
    }
}


@media (max-width:1024px){
    section.testimonial{

        .container{
            padding-bottom: 2em; //Just to make the white soace look even

            .testimonial-container{
                grid-template-columns: repeat(1, 1fr);
                gap: 1em;

                .client-box{
                    &:hover{
                        background-color: col.$white;
                        color: col.$black
                    }
                }

            }
        }
    }
}